.container {
  border-bottom: 1px solid #e1e8ed;
  box-sizing: border-box;
  min-height: 60px;
  position: relative;
  width: 100%;
}

.link {
  bottom: 20px;
  margin: 0 30px;
  position: absolute;
}
