.container {
  margin: 80px auto 0;
  max-width: 230px;
}

.input {
  background-color: #fff;
  border: 1px solid #e1e8ed;
  box-sizing: border-box;
  margin: 10px 0 0;
  outline: 0;
  padding: 4px;
  width: 100%;
}

.submit {
  border: 1px solid #e1e8ed;
  box-sizing: border-box;
  margin: 10px 0 0;
  padding: 8px 0;
  width: 100%;
}

.linkcontainer {
  margin: 10px 0 0;
}
